:root {
  --primary-color: #f6623e;
  --secondary-color: #454545;
  --nobel-color: #9d9d9d;
  --black-color: #000;
  --white-color: #fff;
}

html {
  /* 100% = 16px */
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Jost', sans-serif;
}

p {
  font-size: 1.6rem;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
}

.grid-col-3 {
  flex-wrap: wrap;
  width: 33%;
}

.grid-col-2 {
  flex-wrap: wrap;
  width: 50%;
}

.grid-col-1 {
  flex-wrap: wrap;
  width: 100%;
}

.grid-row-2 {
  flex-wrap: wrap;
  height: 50%;
}

.grid-row-1 {
  flex-wrap: wrap;
  height: 100%;
}

.grid-row-4 {
  flex-wrap: wrap;
  height: 25%;
}

.word {
  display: inline-flex;
}

.gray-title {
  color: var(--secondary-color);
}

.primary-title {
  color: var(--primary-color);
}

.center {
  margin: auto;
  padding: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

/* body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--white-color);
} */
