:root {
    --primary-color: #f6623e;
    --secondary-color: #454545;
    --nobel-color: #9d9d9d;
    --black-color: #000;
    --white-color: #fff;
}

html {
    /* 100% = 16px */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Jost', sans-serif;
}

p {
    font-size: 1.6rem;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}