body {
  overflow-x: hidden;
}

.information {
  display: flex;
  flex-direction: row;
}

.avatar-customer {
  text-align: center;
  padding: 20px 16px;
}

.basic-info-title {
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.container-detail {
  display: flex;
  flex-direction: row;
  overflow: auto;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  margin: 20px;
  top: 50%;
  left: 50%;
  width: 90%;
  box-shadow: 5px 10px 10px var(--nobel-color);
}

.form-detail {
  overflow: hidden;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  margin: 20px;
  top: 50%;
  left: 50%;
  width: 100%;
  box-shadow: 5px 10px 10px var(--nobel-color);
}

input,
select {
  display: block;
  border-radius: 5px;
  font-size: 16px;
  background: rgb(241, 237, 237);
  width: 50%;
  border: 0;
  padding: 10px 10px;
  margin: 15px -10px;
}

.btn-save {
  cursor: pointer;
  color: var(--white-color);
  font-size: 16px;
  text-transform: uppercase;

  border: 0;
  padding: 10px 24px;
  border-radius: 5px;
  background-color: var(--primary-color);
  float: right;
}

.btn-save:hover {
  opacity: 0.6;
}

.grid-span-row-2 {
  height: 150px;
}

.basic-info-fill {
  width: 80%;
}

.title {
  width: 100%;
}

.img-ava {
  width: 80px;
  height: 80px;
  border-radius: 100px;
}

.tab-click-color {
  background-color: var(--primary-color);
}

.menu-button {
  padding: 0 20px;
}

.btn {
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  margin: 4px 8px;
  border: 0;
  border-radius: 4px;
}

.border-16 {
  border-radius: 16px;
}

.grid-col-2_20 {
  width: 20%;
}
.grid-col-2_80 {
  width: 80%;
}

.address-container {
  width: 90%;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.list-number {
  width: 50%;
}
.previous-next {
  width: 50%;
}

.list-number,
.previous-next {
  display: flex;
  flex-direction: row;
}

.btn-save-address {
  width: 20%;
  align-self: flex-end;
}

.btn-add-address {
  width: 40%;
  align-self: flex-start;
}

.name-and-phone {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--nobel-color);
}

.item-address {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 0;
}

.container-address {
  padding: 4% 2%;
  display: inline-block;
  background-color: var(--label-color);
  border-radius: 4px;
  width: 100%;
}

i {
  padding: 0 10px;
  font-size: 16px;
}

i:hover {
  color: var(--nobel-color);
  cursor: pointer;
}

.icon-edit,
.icon-delete {
  float: right;
}

.name-address {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: var(--nobel-color);
}

.payment-container {
  width: 90%;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.title-payment {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 20px;
  color: var(--primary-color);
  padding: 12px 0;
}

.detail__payment {
  display: flex;
  flex-direction: column;
}

.change-pass-container .basic-info-fill {
  width: 30%;
}

.change-pass-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.history-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-history .btn {
  width: fit-content;
}

.filter-history {
  align-self: flex-start;
}

.img-item-history {
  width: 16%;
}

.container-history-detail {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 10px 20px;
}

.container-history-price {
  display: flex;

  flex-direction: column;
  align-self: center;
}
.history-container {
  width: 80%;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.item-history {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--label-color);
  border-radius: 4px;
  margin: 10px 0;
}

.history-title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: var(--secondary-color);
}
.history-sub {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--nobel-color);
}

.history-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--black-color);
}
.food-price {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: var(--black-color);
}
