.header {
  
  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header-left,
.header-center,
.header-right {
  display: flex;
  align-items: center;
}

.icon1,
.icon2,
.icon3 {
  font-size: 20px;
  margin-left: 10px;
}
button {
  font-family: "Jost", sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: 0;
}

button:hover {
  text-decoration: underline;
  color: rgba(246, 98, 62, 1);
}
