/* Header */
.header {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
/* end Header */

/* Logo */
.header .logo {
  content: "";
  width: 200px;
  height: auto;
  color: #000;
  background: #000;
  background-color: aqua;
}
/* end Logo */

/* Navigation  */
.top-navigation ul li {
  list-style: none;
  display: inline-block;
}

.top-navigation {
  background: #fff;
  padding: 0 1rem;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 15px 15px rbga(0, 0, 0, 0.2);
  position: relative;
}

.top-navigation a {
  padding: 1.5rem 1rem;
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--secondary-color);
  width: 180px;
  text-align: center;
}

.top-navigation a:hover {
  background: #f1f1f1;
}
/* end Navigation */

/* Right */
.header .right {
  list-style: none;
  display: flex;
}

.btn {
  font-size: 20px;
  padding: 4px 16px;
  color: var(--black-color);
}

.btn:hover {
  opacity: 0.8;
  background-color: var(--nobel-color);
}

/* end Right */
