/* Header */
.header {
  box-shadow: 5px 10px 10px var(--nobel-color);
}
.menu-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
/* end Header */

/* Logo */
.logo {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
}

.name-logo {
  text-align: center;
  padding: 0 10px;
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  color: var(--primary-color);
}

.img-logo {
  width: 40px;
  height: auto;
}
/* end Logo */

/* Navigation  */
.top-navigation ul li {
  list-style: none;
  display: inline-block;
}

.top-navigation {
  background: #fff;
  padding: 0 1rem;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 15px 15px rbga(0, 0, 0, 0.2);
  position: relative;
}

.top-navigation a {
  padding: 1.5rem 1rem;
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--secondary-color);
  width: 180px;
  text-align: center;
}

.top-navigation a:hover {
  background: #f1f1f1;
}
/* end Navigation */

/* Right */
.right {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn {
  font-size: 20px;
  padding: 4px 16px;
  color: var(--black-color);
}

.btn:hover {
  opacity: 0.8;
  background-color: var(--nobel-color);
}

/* end Right */

.header__navbar-user:hover .header__navbar-user-menu {
  cursor: pointer;
  display: block;
}

.header__navbar-user {
  position: relative;
  display: block;
}

.header__navbar-user:hover {
  cursor: pointer;
}

.header__navbar-user-menu {
  display: none;
  position: absolute;
  padding: 8px 0px;
  top: 100%;
  right: 4px;
  border-radius: 4px;
  width: 160px;
  background-color: var(--white-color);
  list-style: none;
  z-index: 10;
}

.header__navbar-user-item a:hover {
  background-color: var(--label-color);
}

.header__navbar-user-item a {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  padding: 8px 16px;
  color: var(--nobel-color);
  background-color: var(--white-color);
  display: block;
  box-shadow: 4px 6px 8px #000;
}

.sign-out {
  display: none;
  flex-direction: column;
  position: absolute;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 12px;
  color: var(--nobel-color);
  background-color: var(--white-color);
  border-radius: 4px;
  box-shadow: 5px 10px 10px var(--secondary-color);
  padding: 10px 12px;

  top: 0;
  right: 0;
}

a {
  text-decoration: none;
}

.btn__info:hover .sign-out {
  display: flex;
}

.btn-sign {
  font-size: 16px;
  padding: 10px 16px;
  color: var(--black-color);
}

.btn-sign:hover {
  opacity: 0.8;
  background-color: var(--nobel-color);
  cursor: pointer;
}

.menu-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0;
}

input {
  display: block;
  border-radius: 5px;
  font-size: 16px;
  background: rgb(241, 237, 237);
  width: 100%;
  border: 0;
  padding: 10px 10px;
  width: 50%;
}

.header__navbar-notify-item {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
}

.content-notify {
  display: flex;
  flex-direction: column;
}

.content-title {
  color: var(--black-color);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 42px;
  margin-left: 20px;
}

.content-detail {
  color: var(--nobel-color);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  margin-left: 20px;
}
.img-notify {
  width: 20%;
  height: fit-content;
}

.header__navbar-notify:hover .header__navbar-notify-menu {
  cursor: pointer;
  display: block;
}

.header__navbar-notify {
  position: relative;
  display: block;
}

.header__navbar-notify:hover {
  cursor: pointer;
}

.header__navbar-notify-menu {
  display: none;
  position: absolute;
  padding: 8px 0 0 0;
  top: 100%;
  right: 4px;
  border-radius: 4px;
  width: 560px;
  background-color: var(--white-color);
  list-style: none;
  z-index: 10;
}

.header__navbar-notify-item a:hover {
  background-color: var(--label-color);
}

.header__navbar-notify-bottom {
  color: var(--black-color);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 42px;
  padding: 0 20px;
  background-color: var(--label-color);
  align-self: center;
}

.header__navbar-notify-menu-top {
  color: var(--black-color);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 42px;
  padding: 10px 20px;
  background-color: var(--label-color);
}

.header__navbar-notify-bottom a {
  text-decoration: none;
  color: var(--black-color);
}

/* drawer navigation */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(77, 58, 58, 0.8);
  height: 100vh;
  width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: all var(--menu-speed) ease;
}
.menu > div {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.4s ease-in;
}
.menu ul {
  list-style: none;
}
.menu li {
  padding: 1rem 0;
}
.menu > div a {
  text-decoration: none;
  color: #fafafa;
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity 1s ease-in;
}
.menu a:hover {
  color: rgb(230, 177, 177);
  transition: color 0.3s ease-in;
}

.menu-wrap {
  display: none;
}
