.container {
  background-color: none;
}

.introduce {
  width: 100%;
  display: inline-flex;
  padding: 40px 60px;
}

.image-intro {
  width: 500px;
  margin-left: 100px;
  text-align: center;
}

.introduce-title-line {
  font-style: normal;
  font-weight: 600;
  font-size: 5.4rem;
  line-height: 5.6rem;
}

.introduce-detail {
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-left: 1.6rem;
}

.introduce-button {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  padding: 0.5rem 1.5rem;

  border-radius: 20px;
  background-color: var(--primary-color);
  float: right;
}

.introduce-button .button-text {
  color: var(--white-color);

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  text-transform: uppercase;
}

.benefit {
  width: 100%;
  text-align: center;
  padding: 40px 60px;
}

.benefit-title {
  text-align: center;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 42px;

  color: var(--primary-color);
}

.benefit-details {
  width: 50%;
  text-align: center;
  display: inline-flex;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  color: var(--black-color);
}

.benefit-items {
  display: inline-flex;
}

.ben-title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;

  color: var(--black-color);
}

.ben-detail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  color: var(--black-color);
}

.image-benefit-item {
  width: 50px;
}

.mini-title-review {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  letter-spacing: 2px;
}

.title-review {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}

.item-review-customer {
  display: inline-flex;
  text-align: center;
}

.title-item-review {
  text-align: center;

  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;

  color: var(--black-color);
}

.item-customer-review {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.item-review {
  display: inline-flex;
}

.star-icon {
  width: 25px;
}

.item-customer-avatar {
  width: 80px;
  height: 80px;
  border-radius: 100px;
}

.rect {
  display: flexbox;
  width: 60%;
  padding: 6% 3%;
}

.rect-food-color {
  background-color: #fdeded;
}

.rect-restaurant-color {
  background-color: #f6ffdd;
}

.img-rect {
  height: 300px;
}

.rect-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}

.rect-detail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.rect-restaurant-pos {
  margin-top: -5%;
  float: right;
  text-align: right;
}

.food-and-restaurant {
  overflow: auto;
  padding: 40px 60px;
}

.review {
  padding: 40px 60px;
}
