@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
:root {
  --main-text-font: Arial, Helvetica, sans-serif;
}
/* body {
  width: 100%;
  height: 100%;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

/* --------------------------------SLIDE---------------------------------------- */
.slideshow {
  overflow: hidden;
  padding-bottom: 10px;
  border-bottom: 0px solid black;
}
.aspect-ratio-169 {
  display: block;
  position: relative;
  padding-top: 25.25%;
  transition: 0.3s;
}

.aspect-ratio-169 img {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10px;
  left: 0;
}

/* -------------------------------cartegory---------------------------------------- */

.row {
  display: flex;
  flex-wrap: wrap;
}
.container {
  width: 1200px;
  margin: auto;
}
.space-between {
  justify-content: space-between;
}
.category {
  padding: 60px 0 0 0;
}
.category-top {
  /* margin-bottom: 50px; */
}
.category-top p {
  font-family: var(--main-text-font);
  font-size: 12px;
}
.category-left {
  width: 20%;
}
a {
  text-decoration: none;
  color: #111;
}
.category-right {
  width: 80%;
}
.category-right-top-item:first-child {
  flex: 2;
  font-size: 16px;
  font-family: var(--main-text-font);
}
.category-right-top-item {
  flex: 1;
  padding: 0 12px;
}
.category-right-top-item button {
  padding: 5px;
  border-radius: 5px;
  border: 0px solid gray;
  background-color: #999999;
  color: white;
  cursor: pointer;
}

.category-right-top-item select {
  max-width: 100%;
  width: 100%;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #dddddd;
  cursor: pointer;
}

.category-right-content {
  margin-top: 20px;
  justify-content: space-between;
}
.category-right-content-item {
  width: calc(20% - -10px);
  text-align: center;
  padding: 12px 0;
  box-shadow: 0px 1px #696868;
}
.category-right-content-item h1 {
  font-family: var(--main-text-font);
  margin-top: 6px;
  color: #333333;
}
.category-right-content-item img {
  width: 100%;
}
.category-right-content-item p {
  font-size: 12px;
}
.category-right-bottom {
  margin: 30px 0 20px;
  width: 100%;
  justify-content: center;
  text-align: center;
}
.category-right-bottom .category-right-bottom-page a {
  text-decoration: none;
  color: #333333;
}
.category-left .box {
  border: 1px solid orange;
  background-color: orange;
  border-radius: 5px;
  width: 70%;
}
.category-left .box a {
  font-size: 15px;
}

.category-left li {
  font-size: 14px;
  font-weight: lighter;
  margin-left: 70px;
  padding-top: 5px;
}
.highlow {
  display: flex;
}
.highlow .low {
  transform: translateX(50px);
}

.sub-order {
  position: absolute;
  width: 160px;
  border: 1px solid #ccc;
  transition: 0.2s;
  z-index: 1;
  background-color: #fff;
  padding: 0px 12px 0px 14px;
  visibility: hidden;
}
.order > li:hover .sub-order {
  visibility: visible;
  text-decoration: none;
}

.category-right-bottom-page a {
  width: 40%;
  border-radius: 5px;
  border: 0px solid gray;
  background-color: #999999;
  color: white;
  text-align: center;
  padding: 8px;
  margin: 10px;
}

/* --------------------------------foot---------------------------------------- */
